:root {
    --hero-box-height: 535px;
    --hero-box-width: 585px;
    --base: 0.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.green-bg {
    background-color: rgb(195, 226, 136);
}

.skin-bg {
    background-color: rgb(242, 217, 187);
}

.blue-bg {
    background-color: rgb(175, 231, 246);
}

.pink-bg {
    background-color: rgb(251, 220, 236);
}

.content {
    display: flex;
    flex-direction: row;
}

.hero-text,
.hero-image-right>img,
.hero-image-left>img {
    height: var(--hero-box-height);
    width: var(--hero-box-width);
}

.hero-image-right>img {
    box-shadow: 1px 1px 20px 1px black, -1px -1px 20px 1px black, -50px -50px white;
}

.hero-image-left>img {
    box-shadow: 1px 1px 20px 1px black, -1px -1px 20px 1px black, 50px -50px white;

}

.hero-text {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}

.order-after {
    order: 2;
    margin-left: 200px;
    margin-right: 0;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.open-sans {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.heading {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    z-index: 2;
}

.paragraph {
    font-size: 23px;
    font-weight: 400;
    color: rgb(99, 109, 80);
}

.floating-text-right {
    position: absolute;
    transform: translate(40%, 110%);
}

.floating-text-left {
    position: absolute;
    transform: translate(-40%, 110%);
}

.yogurt-float {
    transform: translate(-30%, 110%);
}

.floating-text-para {
    color: white;
    font-size: 220px;
    font-weight: 800;
}

.white-box {
    background-color: rgba(255, 255, 255, 0.5);
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 1;
    transform: translate(-30%, -32%);

}

.bg-img {
    position: absolute;
}

.learn-more {
    border: none;
    height: 40px;
    width: 180px;
    margin-top: 30px;
    background-color: white;
}

.main-container-home{
    height: 100vh;
    background-image: url(./assets/main-hero-img/home-hero.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.black-overlay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    height: 15vh;
}

.navbar>img{
    height: 90px;
}

.title{
    color: white;
    text-decoration: none;
    margin: 30px;
    font-weight: 600;
    font-size: 40px;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-style: normal;
}
 
.nav-buttons{
    margin-left: auto;    
}

.nav-link{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}

.btn-nav{
    margin-right: 70px;
    background-color: white;
    color: rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding: 7px;
}

.heading-home>pre{
    color: white;
    font-size: 90px;
}

.feature-p{
    color: white;
    font-size: 30px;
}

.ftr-flex>img{
    height: 70px;
    margin-right: 10px;
}

.home-content{
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
.features{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    transform: translate(100%,-22%);
}
.ftr-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.heading-home{
    position: absolute;
    transform: translate(-45%,-10%);
} 

.float-home{
    position: absolute;
    transform: translate(90%,700%);
    display: flex;
}

.float-home>img{
    height: 70px;
    
}

